<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="File" fileName="logs/app.log">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
    <logger name="org.deeplearning4j" level="trace"/>
    <logger name="org.datavec" level="info"/>
    <logger name="org.nd4j" level="info"/>
    <logger name="com" level="trace"/>
  </Loggers>
</Configuration>